@font-face {
    font-family: OpenSans;
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: RobotoLight;
    src: url(Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(Roboto-Medium.ttf);
}
@media only screen and (min-width: 600px)  {
    h1{
        font-size: 4rem;
        font-weight: 300;
        font-family: RobotoLight, OpenSans, sans-serif;
        letter-spacing: -1.5px;
        color: aliceblue;
    }
    h2{
        font-size: 3.75rem;
        font-weight: 300;
        font-family: RobotoLight, OpenSans, sans-serif;
        letter-spacing: -0.5px;
        color: aliceblue;
    }
    h3{
        font-size: 3rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0px;
        color: aliceblue;
    }
    h4{
        font-size: 2.125rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0.25px;
        color: aliceblue;
    }
    h5{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0px;
        color: aliceblue;
    }
    .subtitle1 {
        font-size: 1rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0.15px;
        color: aliceblue;
    }
    .subtitle2 {
        font-size: 0.875rem;
        font-weight: 500;
        font-family: RobotoMedium, OpenSans, sans-serif;
        letter-spacing: 0.1px;
        color: aliceblue;
    }
    .body1 {
        font-size: 1rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0.5px;
        color: aliceblue;
    }
    .body2 {
        font-size: 0.875rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0.25px;
        color: aliceblue;
    }
    .caption {
        font-size: 0.75rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 0.4px;
        color: aliceblue;
    } 
    .overline {
        font-size: 0.625rem;
        font-weight: 400;
        font-family: RobotoRegular, OpenSans, sans-serif;
        letter-spacing: 1.5px;
        color: aliceblue;
    } 
}